
.project-container {
    padding-bottom: 180px;
}

.project-title {
    font-family: 'Raleway', sans-serif; 
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.project-description {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    padding-top: 8px;
    text-align: center;
}

.images-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding-top: 48px;
    align-items: center;
}

.image {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}